html {
  scroll-behavior: smooth;
}
.App {
  text-align: justify;
  /* height: 100vh; */
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  flex-basis: 50%;
  height: 100%;
  position: absolute;
  width:100%;
}
.App::-webkit-scrollbar {
  width: 0.5em;
}
.App::-webkit-scrollbar-thumb {
  background-color: #a64af7;
}

section {
  scroll-snap-align: center;
}
header{
  scroll-snap-align: start;
}
footer{
  scroll-snap-align:end;
}
.App-logo {
  height: 90px;
  width: 80px;
  margin-top: 20px;
  margin-left: 70px;
  pointer-events: none;
  grid-area: logo;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.gridContainer1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "logo logo logo logo logo logo  navigation navigation"
    "title title  title title title title heroEmpty heroEmpty";
}
.navigationTopBar {
  grid-area: navigation;
  margin-top: 20px;
}
.heroTitleContainer {
  grid-area: title;
  text-align: left;
  margin-left: 70px;
  margin-top: 100px;
}
.heroEmpty {
  grid-area: heroEmpty;
}
section {
  min-height: 300px;
  scroll-snap-align: start;
}
.cardContainer {
  margin-top: 200px;
  margin-right: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-end;
}

.partnerSection {
  text-align: center;
}
.partnerSection > h2 {
  font-size: 35px;
}

.roadmapSection {
  text-align: center;
}
.roadmapSection > h2 {
  font-size: 35px;
}

.RoadMapContainer {
  display: flex;
  flex-direction: row;
}
.RoadMapScroll {
  overflow-x: scroll;
  margin-bottom: 100px;
}
.RoadMapScroll::-webkit-scrollbar {
  width: 1em;
  height: 5px;
}

/* .RoadMapScroll::-webkit-scrollbar-track {

} */

.RoadMapScroll::-webkit-scrollbar-thumb {
  background-color: #a64af783;
  border-radius: 10px;
}

.instructionContainer {
  background: linear-gradient(180deg, #17063c 0%, #1c0120 100%);
  height: auto;
  margin: 10px;
  border-radius: 20px;
  padding: 20px;
  align-self: top;
  text-align: center;
  margin-bottom: 100px;
}
.instructionContainer > h2 {
  font-size: 30px;
}

.instructionFlex {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.verticalLine {
  background-color: #a64af7;
  width: 2px;
  height: 150px;
  margin: 10px;
  margin-top: 50px;
  border-radius: 5px;
}
.instructionStep {
  flex: auto;
  text-align: center;
  width: 250px;
  margin: 10px;
}
.instructionStep > p {
  letter-spacing: 0em;
  color: #aaa;
}
.instructionStep > h3 {
  height: 70px;
}
.instructionStep > img {
  height: 30px;
}

.featuresSection {
  text-align: center;
  letter-spacing: 0.1em;
}
.featuresSection > h1 {
  font-size: 30px;
}
.featuresContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.videoSection {
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 200px;
}
.video {
  text-align: center;
  position: relative;
  z-index: 5;
  width: 600px;
  left: calc(50% - 300px);
}
.daoSection {
  margin: 100px;
  margin-top: 0px;
}
.daoSection > img {
  height: 200px;
  margin: 100px 0px 100px 0px;
}
@media screen and (max-width: 1020px) {
}

@media screen and (max-width: 800px) {
  .navigationTopBar {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .video {
    position: relative;
    left: 0;
  }
  .cardContainer {
    margin-top: 200px;
    margin-right: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
  }

  .gridContainer1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "logo logo logo "
      "title title title";
  }
  .App-logo {
    margin: 10px;
    height: 50px;
    width: 48px;
    margin-left: 20px;
  }
  .heroTitleContainer {
    grid-area: title;
    text-align: center;
    margin-left: 5px;
    margin-top: 100px;
    width: 95vw;
  }
  .verticalLine {
    position: relative;
    height: 2px;
    width: 200px;
    left: calc(50% - 110px);
  }
  .daoSection {
    margin: 10px;
  }
  .daoSection > img {
    height: auto;
    width: calc(100vw - 20px);
  }
}


