.App {
  text-align: justify;
}

.App-logo {
  height: 90px;
  width: 80px;
  margin-top: 20px;
  margin-left: 70px;
  pointer-events: none;
  grid-area: logo;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.gridContainer1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "logo logo logo logo logo logo  navigation navigation"
    "title title  title title title title heroEmpty heroEmpty";
}
.navigationTopBar {
  grid-area: navigation;
  margin-top: 20px;
}
.heroTitleContainer {
  grid-area: title;
  text-align: left;
  margin-left: 70px;
  margin-top: 100px;
}
.heroEmpty {
  grid-area: heroEmpty;
}
section {
  min-height: 300px;
}
.cardContainer {
  margin-top: 200px;
  margin-right: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-end;
}

.partnerSection{
  text-align: center;
}
.partnerSection > h2 {
  font-size: 35px;
}

.roadmapSection{
  text-align: center;
}
.roadmapSection > h2 {
  font-size: 35px;
}

.RoadMapContainer {
  display: flex;
  flex-direction: row;
}
.RoadMapScroll{
  overflow-x: scroll;
  margin-bottom: 100px;

}
.RoadMapScroll::-webkit-scrollbar {
  width: 1em;
  height: 5px;
}
 
.RoadMapScroll::-webkit-scrollbar-track {

}
 
.RoadMapScroll::-webkit-scrollbar-thumb {
  background-color: #a64af783;
  border-radius: 10px;
}